@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
  padding: 0;
  margin: 0;
  background-color: #1b1b20;
}

::-webkit-scrollbar {
  display: none;
}

.back-pink{
  background-color: #c800c8;
}

.back-blue{
  background-color: rgb(0,103,220);
}

.back-violet{
  background-color: #00646b;
}

a{
  text-decoration: none;
  color: #fff;
}

h1, h2, h3, h4, h5, p, div, span{
  margin: 0;
  color: #fff;
  background-color: transparent;
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, p::selection, img::selection, div::selection, span::selection, ul::selection, li::selection, a::selection{
  background-color: #5cdcff;
  color: #000;
}

li{
  list-style: none;
}

i{
  color: #fff;
  font-size: 2rem;
}

.primary-font{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.secondary-font{
  font-family: 'Roboto Mono', monospace;
}

.xlarge-text{
  font-size: 5rem;
  font-weight: 700;
}

.large-text{
  font-size: 3rem;
  font-weight: 700;
}

.medium-text{
  font-size: 2rem;
  font-weight: 700;
}

.flex{
  display: flex;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.center{
  justify-content: center;
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}

.wrap-rev{
  flex-wrap: wrap-reverse;
}

.cursor{
  border-radius: 50%;
  position: fixed;
  top: -15px;
  left: -15px;
  z-index: 2000;
  border: 1px solid aqua;
}

.cursor-inner{
  background-color: aqua;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 10px;
}

.navbar{
    /* background-color: #0f0f0f; */
    background-color: rgba(27, 27, 20, 0.6);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    position: fixed;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.nav-content{
  display: flex;
  align-items: center;
}

.nav-item{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.nav-brand{
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.nav-brand, .nav-index, .nav-link{
  color: rgb(0, 200, 255);
  margin: 0 2rem;
}
.nav-index{
  font-size: 0.7rem;
}
.nav-link{
  font-size: 1rem;
  font-weight: 700;
}

.home{
  height: 100vh;
  margin: 0;
  background: url('./assets/img/back3.png') no-repeat center;
  background-size: cover;
  box-shadow: 0 -100px 200px rgba(27,27,32,1) inset;
}

.expertise{
  margin: 20vh 0 0 0;
  justify-content: center;
}
.expertise::after{
  content: '';
  background: url('./assets/img/html.png') no-repeat center;
  background-size: contain;
  top: 0;
  left: 0;
  width: 50%;
  height: 300px;
  z-index: -1;
  opacity: 0.5;
  transform: translateY(-30%);
}

.expertise-content{
  margin: 10vh 0;
}

.expertise-card{
  min-width: 250px;
  max-width: 350px;
  height: 17rem;
  padding: 1rem;
  border: 2px solid #fff;
}

.expertise-card-head{
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.expertise-card-icon{
  margin: 0 1rem;
}
.expertise-card-title{
  z-index: 5000;
}

.expertise-card-content{
  color: #737373;
}

.expertise-card-description{
  border-left: #737373 2px solid;
  padding: 5px 0px 5px 10px;
  margin: 7px 0 0 15px;
}

.work{
  min-height: 100vh;
  padding: 1rem;
  margin: 0 0 10rem 0;
}

.work-head{
  max-width: 500px;
  margin: 2rem 0;
}

.work-desc{
  text-align: justify;
}

.work-filter{
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.work-filter-button{
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  padding: 0 1rem;
  border: 2px dotted #fff;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 10px;
}

.active{
  background-color: white;
  color: black;
}

.work-container{
  max-width: 1300px;
  justify-content: space-evenly;
}

.work-contents{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.work-card{
  min-width: 250px;
  max-width: 400px;
  height: 450px;
  margin: 10px;
  border: 2px solid #fff;
  
}

.work-card-img{
  flex: 3;
  overflow: hidden;

  img{
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  img:hover{
    transform: scale(1.1);
  }
}

.work-card-content{
  flex: 1;
  padding: 1rem;
}

.work-card-tags{
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 10px 0;
}

.work-card-tag{
  margin: 0 4px;
  font-size: 0.8rem;
  color: #cecece;
  border-bottom: 1px dashed #cecece;
}

.work-card-desc{
  margin: 10px;
  font-size: 0.9rem;
  color: #ececec;
}

.work-card-link{
  color: #00c8ff;
  margin: 10px 5px;
  font-size: 0.9rem;
}

.footer{
  margin-top: 1rem;
  min-height: 60vh;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
}

.footer-personal-content{
  padding: 2rem;
  justify-content: space-evenly;
  max-width: 500px;
}

.footer-contact{
  padding: 1rem;

  a:hover{
    color: #00c8ff;
  }
}

.footer-card-container{
  max-width: 70vw;
}

.footer-card{
  max-width: 200px;
  min-width: 100px;
  padding: 1rem;
}

.footer-card-list{
  margin: 10px;
  padding: 0;
  li{
    margin: 0.5rem 0;
    min-width: 150px;
  }
  li:hover{
    color: black;
    font-weight: 700;
    background-color: white;

  }
}